{% extends "base.html" %}
{% load staticfiles %}
{% block title %} ITEM Shop {% endblock %}
{% block extrahead %}
<link href="{% static 'cms/shop.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<table class="table-striped">
	<thead>
		<tr><td>id</td><td>name</td><td>price</td><td>stock</td></tr>
	</thead>
	<tbody>
	{% for item in items %}
		<tr id="tblRowJan{{ item.code }}"><td>{{ item.code }}</td><td>{{ item.name }}</td><td>{{ item.selling_price }}</td><td>{{ item.stock }}</td></tr>
	{% endfor %}
	</tbody>
</table>
<form id="mainForm" action="{% url 'cms:buy' %}" method="post">
	{% csrf_token %}
	<div id="ContainerQ1">
		Who are you?
		<select id="SelectUser" name="user">
			<option >
			{% for user in users %}
			<option value="{{ user.id }}"> {{ user.name }} </option>
			{% endfor %}
		</select>
		This month :<span id="SpanThismonthCost"></span> JPY.
	</div>
	<div id="ContainerQ2">
		<!-- textBoxが一つの場合、Enter押下で即座に爆裂する -->
		<input type="text" name="dummy" style="display:none;">
		<input type="text" id="TxtJAN" name="item" /><br />
		<span id="SpanMsgQ2"></span>
	</div>
	<div id="ContainerQ3">
		<div id="ContainerPrice">
		<p>Price:@<span id="SpanPrice">---</span> x 
		<select id="SelectValue" name="value">
		</select> pcs
		= Cost:<span id="SpanCost">---</span>JPY</p>
	</div>

	<input type="button" id="BtnBuy" value="BUY" style="display:none;" />
</form>
<script>
	"use strict";
	var itemPrice = [];
	var itemStock = [];
	{% for item in items %}
		itemPrice["{{ item.code }}"] = {{ item.selling_price }};
		itemStock["{{ item.code }}"] = {{ item.stock }};
	{% endfor %}	
</script>
<script src="{% static 'cms/shop.js' %}"></script>
{% endblock %}